.sindu_dragger {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.sindu_handle {
  cursor: move;
}

.sindu_dragger li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: inherit;
}

.sindu_dragger li table, .sindu_dragger tr, .sindu_dragger th, .sindu_dragger td {
  box-sizing: border-box;
}

.gu-mirror {
  list-style: none;
}

.sindu_dragger.sindu_column li {
  float: left;
}

.sindu_dragging .sindu_origin_table {
  visibility: hidden;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}

.gu-mirror li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: inherit;
}

.gu-mirror li table, .gu-mirror tr, .gu-mirror th, .gu-mirror td {
  box-sizing: border-box;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.5;
}
