ul.sindu_sortable_table {
  list-style: none;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.sindu_sortable_table li {
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.sindu_sortable_table.sindu_column li {
  float: left;
}

.sindu_sortable_table.sindu_column tr {
  display: none;
}

/*.sindu_sortable_table.sindu_column .sindu_draggable {*/
/*display: table-row;*/
/*}*/

/*.sindu_dragging .sindu_sortable_table.sindu_column tr {*/
/*display: table-row;*/
/*}*/

/*.sindu_sortable_table.sindu_row table {*/
/*width: 100%;*/
/*}*/

/*.sindu_sortable_table.sindu_row tr td:nth-child(n) {*/
/*display: none;*/
/*}*/

/*sindu_dragging .sindu_sortable_table.sindu_row tr td:nth-child(2+n) {*/
  /*display: table-cell;*/
/*}*/

.sindu_dragging .sindu_sortable_table {
  z-index: 1;
  opacity: 1;
}

.sindu_dragging .sindu_origin_table * {
  opacity: 0;
}

.sindu_dragging .sindu_origin_table .sindu_exclude {
  opacity: 1;
}

.sindu_dragging .sindu_origin_table .sindu_exclude * {
  opacity: 1;
}

/*.sortable-ghost {*/
/*position: relative;*/
/*}*/

.sortable-ghost:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 4px 5px 4px #C6C6C6 inset;
  visibility: visible !important;
  background: #EFEFEF !important;
}

.sortable-chosen {
  background-color: green;
}

.sortable-chosen tr {
  display: table-row;
}
